html {
  overscroll-behavior-y: none;
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/* Helper to disable snapping during auto-scroll */
html.no-snap {
  scroll-snap-type: none !important;
  scroll-behavior: smooth !important;
}

/* Ensure text doesn't jitter during the transform */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}